.uk-modal{
  z-index: 99999;
}
.section{
  padding-top: 15vh !important;
  padding-bottom: 15vh !important;
}
.section-header{
  padding-bottom: 10vh;
}
.owl-theme .owl-controls .owl-page span{
  background: #027db1 !important;
}

.support p
{
position: absolute;;
top: 10px;
}

#whychoose {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/header_3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#whychoose .whychoose-content {
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background: linear-gradient(-225deg, rgba(30,135,240,0.3) 0%, rgba(0,0,0,0.6)  70%),url();
  display: table-cell;
  vertical-align: middle;
}
#ourteam {
  display: table;
  width: 100%;
  height: 80vh;
  background: url(../img/header_3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ourteam .ourteam-content {
  height: 80vh;
  background: rgba(255, 255, 255, 0.8);
  display: table-cell;
  vertical-align: middle;
}
#ourteam .ourteam-logo {
  position:absolute;
   top:50%;
   left:50%;
   margin-top: 55px;
   margin-left:0;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
/*colors*/
.white-text{
  color: #ffffff !important;
}
.blue-darken{
  background-color: #1e87f0 !important;
}
.blue-darken-text{
  color: #1e87f0 !important;
}

.blue-jeans{
  background-color: #5D9CEC !important;
}
.blue-jeans-darken{
  background-color: #4A89DC !important;
}
.blue-jeans-text{
  color: #5D9CEC !important;
}
.blue-jeans-darken-text{
  color: #4A89DC !important;
}

.aqua{
  background-color: #027db1 !important;
}
.aqua-darken{
  background-color: #00377d !important;
}
.aqua-text{
  color: #027db1 !important;
}
.aqua-darken-text{
  color: #00377d !important;
}

.mint{
  background-color: #48CFAD !important;
}
.mint-darken{
  background-color: #37BC9B !important;
}
.mint-text{
  color: #48CFAD !important;
}
.mint-darken-text{
  color: #37BC9B !important;
}

.sunflower{
  background-color: #FFCE54 !important;
}
.sunflower-darken{
  background-color: #F6BB42 !important;
}
.sunflower-text{
  color: #FFCE54 !important;
}
.sunflower-darken-text{
  color: #F6BB42 !important;
}

.light-gray{
  background-color: #fafafa !important;
}
.light-gray-darken{
  background-color: #E6E9ED !important;
}
.light-gray-text{
  color: #fafafa !important;
}
.light-gray-darken-text{
  color: #E6E9ED !important;
}
.dark-gray{
  background-color: #656D78 !important;
}
.dark-gray-darken{
  background-color: #434A54 !important;
}
.dark-gray-text{
  color: #656D78 !important;
}
.dark-gray-darken-text{
  color: #434A54 !important;
}

/*carousel*/
.fade-carousel {
    position: relative;
    height: 100vh;

}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #027db1;
    border-color: #027db1;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 1px #000 !important;
    text-align: center;
}
.hero h2{
  font-size: 4em;
  margin-top: -10px;
}
.hero h4{
  font-size: 1.5em;
  padding: 10px;
  background-color: rgba(0,55,125,0.4);
}
/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #00377d;
    border-color: #00377d;
    outline: none;
    margin: 20px auto;
}
.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #e67e22;
}
.templatemo-top-bar {
    min-height: 40px;
    background-color: #fff !important;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;

}
.fade-carousel .slides .slide-1 {
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 100%, rgba(255,255,255,0.3) 100%),url(../img/header/DSC_2268.jpg) no-repeat center center fixed;
}
.fade-carousel .slides .slide-2 {
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 100%, rgba(255,255,255,0.3) 100%),url(../img/header/DSC_2234.jpg) no-repeat center center fixed;
}
.fade-carousel .slides .slide-3 {
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 100%, rgba(255,255,255,0.3) 100%),url(../img/header/DSC_22452.png) no-repeat center center fixed;
}
.fade-carousel .slides .slide-4 {
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 100%, rgba(255,255,255,0.3) 100%),url(../img/header/DSC_2250.jpg) no-repeat center center fixed;
}
.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
#map
{
  height: 80vh;
}
.footer {

	background: #fff;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: #027db1;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #1B1E32;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #1B1E32;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #027db1;
	border: 2px solid #027db1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.top-bar {
    min-height: 40px;
    background-color:#eeeeee;
}
.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #027db1;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
    .navbar-pestinpeace-brand{margin-left: 12vh;}
    .navbar-pestinpeace-right{margin-right: 12vh;}
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 3em; }
    .hero h2 { font-size: 2em; }
}
@media screen and (max-width: 360px){
    .hero h1 { font-size: 2em; }
    .hero h2 { font-size: 1.5em; }
    .hero h4 { font-size: 1em; }

    .card-description h2 {
      font-size: 20px; }

    .card-description p {
      font-size: 10px; }

    .card-description {
      position: absolute;
      bottom: 10px;
      left: 0px; }

      .filter-button{
        width: 100%;
        margin: 2px !important;
      }
}

/*iPhone 6*/
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .hero {
      width: 300px;
    }
    .card
    {
      height: 270px;
    }
    #map
    {
      height: 630px;
    }
}
/*Landsscape*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .hero h1
    {
      font-size: 2.5em;
      padding-top: 50px;
      padding-bottom: 5px;
    }
    .hero h2
    {
      font-size: 1.5em;
    }
    .hero {
    width: 500px;
    }
    #map
    {
      height: 600px;
    }
}

/*iPhone 5 and 5s*/

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .card-description p {
      padding-left: 10px;
      padding-right: 10px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .hero {
      width: 530px;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .hero {
      width: 300px;
    }
    .hero h1
    {
      padding-bottom: 5px;
    }
    .card-description p {
      padding-left: 10px;
      padding-right: 10px;
    }
    #map
    {
      height: 630px;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    #map
    {
      height: 600px;
    }
}

/* Nexus 5x */
@media screen
  and (device-width: 732px)
  and (device-height: 412px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .hero {
      width: 400px;
    }
    #map
    {
      height: 600px;
    }
}
